	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/03/2020 16:17
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-bird:before { content: "\f100"; }
.flaticon-delivery-truck:before { content: "\f101"; }
.flaticon-24-hours:before { content: "\f102"; }
.flaticon-save-money:before { content: "\f103"; }
.flaticon-employee:before { content: "\f104"; }
.flaticon-user:before { content: "\f105"; }
.flaticon-user-1:before { content: "\f106"; }
.flaticon-shopping-cart:before { content: "\f107"; }
.flaticon-shopping-cart-1:before { content: "\f108"; }
.flaticon-loupe:before { content: "\f109"; }
.flaticon-home:before { content: "\f10a"; }
.flaticon-home-1:before { content: "\f10b"; }
.flaticon-email:before { content: "\f10c"; }
.flaticon-envelope:before { content: "\f10d"; }
.flaticon-envelope-1:before { content: "\f10e"; }
.flaticon-team:before { content: "\f10f"; }
.flaticon-conversation:before { content: "\f110"; }
.flaticon-group:before { content: "\f111"; }
.flaticon-call:before { content: "\f112"; }
.flaticon-customer-service:before { content: "\f113"; }
.flaticon-delivery:before { content: "\f114"; }